/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* SELECTORES */
html {
  cursor: url("../images/plus.svg"), auto;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  /* cursor: url(right-arrow.png) 4 12, auto; */
}
/* body:hover {
  cursor: url("right-arrow.png");
} */
/* IDENTIFICADORES */
#menu {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  text-align: center;
}

#menu ul li a {
  color: #383838;
  font-family: "Abril Fatface", cursive;
  font-size: 10vh;
  transition: 0.3s;
}
#menu ul li:hover a {
  color: #fe346e;

  /* text-decoration: line-through white; */

  /* -webkit-text-stroke: 2px #fff; */
  /* -webkit-animation: text-shadow-pop-left 0.6s both;
  animation: text-shadow-pop-left 0.4s both; */
}

@-webkit-keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
      0 0 #fff, 0 0 #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 #fff, -2px 0 #fff, -3px 0 #fff, -4px 0 #fff, -5px 0 #fff,
      -6px 0 #fff, -7px 0 #fff, -8px 0 #fff;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}
@keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
      0 0 #fff, 0 0 #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 #fff, -2px 0 #fff, -3px 0 #fff, -4px 0 #fff, -5px 0 #fff,
      -6px 0 #fff, -7px 0 #fff, -8px 0 #fff;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

/* CLASES */

.block {
  display: block;
  width: 100%;
}
.inline {
  display: inline-block;
}
